# 编译产物
*.o
*.out
a.out
app
build/
*.exe

# VS 项目文件
*.slnx
*.vcxproj
*.vcxproj.filters

# VS Code
.vscode/

# 系统
.DS_Store
Thumbs.db

# 编辑器
*.swp
*~

# 忽略 001、002 等数字文件夹里的所有文件
[0-9][0-9][0-9]*/

# 但是，不忽略里面的源代码、头文件和笔记
![0-9][0-9][0-9]*/*.cpp
![0-9][0-9][0-9]*/*.h
![0-9][0-9][0-9]*/*.md